* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_240 {
  width: 100%;
  height: 12774px;
  background: rgba(4,4,4,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_278 {
  width: 100%;
  height: 410px;
  background: url("../images/v6_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12232px;
  left: 197px;
  overflow: hidden;
}
.v6_279 {
  width: 170px;
  color: rgba(255,255,255,0.44999998807907104);
  position: absolute;
  top: 86px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v6_280 {
  width: 218px;
  color: rgba(255,255,255,0.44999998807907104);
  position: absolute;
  top: 86px;
  left: 238px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v6_281 {
  width: 234px;
  color: rgba(255,255,255,0.44999998807907104);
  position: absolute;
  top: 86px;
  left: 559px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v6_282 {
  width: 172px;
  color: rgba(255,255,255,0.44999998807907104);
  position: absolute;
  top: 86px;
  left: 866px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v6_283 {
  width: 137px;
  color: rgba(255,255,255,0.44999998807907104);
  position: absolute;
  top: 86px;
  left: 1162px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v6_284 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v6_285 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 238px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v6_286 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 559px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v6_287 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 866px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v6_288 {
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1162px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_348 {
  width: 100%;
  height: 157px;
  background: url("../images/v6_348.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11819px;
  left: 288px;
  overflow: hidden;
}
.v6_349 {
  width: 520px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v6_350 {
  width: 551px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: right;
}
.v6_351 {
  width: 480px;
  height: 91px;
  background: rgba(255,255,255,0.07999999821186066);
  padding: 28px 32px;
  margin: 236px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 672px;
  overflow: hidden;
}
.v6_352 {
  width: 131px;
  color: rgba(255,255,255,0.20999999344348907);
  position: absolute;
  top: 28px;
  left: 32px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v6_335 {
  width: 20px;
  background: url("../images/v6_335.png");
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 535px;
  border: 3px solid rgba(255,255,255,1);
  transform: rotate(-45deg);
}
.v17_174 {
  width: 100%;
  height: 1248px;
  background: url("../images/v17_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10327px;
  left: 264px;
  overflow: hidden;
}
.v6_512 {
  width: 100%;
  height: 840px;
  background: url("../images/v6_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v6_511 {
  width: 597px;
  height: 660px;
  background: url("../images/v6_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 54px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 461px;
  overflow: hidden;
}
.v6_249 {
  width: 527px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v6_277 {
  width: 597px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 375px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v6_323 {
  width: 261px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 601px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: right;
}
.v6_332 {
  width: 25px;
  background: url("../images/v6_332.png");
  opacity: 1;
  position: absolute;
  top: 677px;
  left: 736px;
  border: 3px solid rgba(255,255,255,1);
  transform: rotate(-45deg);
}
.v6_513 {
  width: 520px;
  height: 1248px;
  background: url("../images/v6_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1278px;
  overflow: hidden;
}
.v6_506 {
  width: 516px;
  height: 137px;
  background: url("../images/v6_506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_295 {
  width: 380px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v6_291 {
  width: 516px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_508 {
  width: 476px;
  height: 199px;
  background: url("../images/v6_508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 0px;
  overflow: hidden;
}
.v6_296 {
  width: 157px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v6_292 {
  width: 476px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_509 {
  width: 520px;
  height: 154px;
  background: url("../images/v6_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 0px;
  overflow: hidden;
}
.v6_297 {
  width: 344px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v6_293 {
  width: 520px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_510 {
  width: 520px;
  height: 154px;
  background: url("../images/v6_510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 1094px;
  left: 0px;
  overflow: hidden;
}
.v6_298 {
  width: 311px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v6_294 {
  width: 520px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_333 {
  width: 20px;
  background: url("../images/v6_333.png");
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 392px;
  border: 3px solid rgba(255,255,255,1);
  transform: rotate(-45deg);
}
.v6_334 {
  width: 20px;
  background: url("../images/v6_334.png");
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 171px;
  border: 3px solid rgba(255,255,255,1);
  transform: rotate(-45deg);
}
.v6_346 {
  width: 20px;
  background: url("../images/v6_346.png");
  opacity: 1;
  position: absolute;
  top: 738px;
  left: 355px;
  border: 3px solid rgba(255,255,255,1);
  transform: rotate(-45deg);
}
.v6_347 {
  width: 20px;
  background: url("../images/v6_347.png");
  opacity: 1;
  position: absolute;
  top: 1120px;
  left: 318px;
  border: 3px solid rgba(255,255,255,1);
  transform: rotate(-45deg);
}
.v6_505 {
  width: 100%;
  height: 882px;
  background: url("../images/v6_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9114px;
  left: 120px;
  overflow: hidden;
}
.v6_248 {
  width: 792px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 0px;
  left: 348px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 90px;
  opacity: 1;
  text-align: center;
}
.v6_504 {
  width: 455px;
  height: 630px;
  background: url("../images/v6_504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 0px;
  overflow: hidden;
}
.v6_325 {
  width: 455px;
  height: 630px;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_336 {
  width: 376px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 282px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_340 {
  width: 130px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 50px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_395 {
  width: 348px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 186px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_503 {
  width: 455px;
  height: 630px;
  background: url("../images/v6_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 1033px;
  overflow: hidden;
}
.v6_327 {
  width: 455px;
  height: 630px;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_338 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 282px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_342 {
  width: 125px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 50px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_397 {
  width: 315px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 186px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_502 {
  width: 455px;
  height: 630px;
  background: url("../images/v6_502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 517px;
  overflow: hidden;
}
.v6_326 {
  width: 455px;
  height: 630px;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_337 {
  width: 337px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 282px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_341 {
  width: 145px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 50px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_396 {
  width: 365px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 186px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_516 {
  width: 100%;
  height: 1474px;
  background: url("../images/v6_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7561px;
  left: 197px;
  overflow: hidden;
}
.v6_514 {
  width: 777px;
  height: 1244px;
  background: url("../images/v6_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_498 {
  width: 494px;
  height: 282px;
  background: url("../images/v6_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 0px;
  overflow: hidden;
}
.v6_267 {
  width: 131px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_254 {
  width: 454px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 42px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 160px;
  opacity: 1;
  text-align: left;
}
.v6_274 {
  width: 494px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 243px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v6_495 {
  width: 777px;
  height: 837px;
  background: url("../images/v6_495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 49px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_265 {
  width: 182px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_247 {
  width: 777px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 80px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v6_276 {
  width: 624px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 450px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v6_515 {
  width: 100%;
  height: 1294px;
  background: url("../images/v6_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 735px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v6_497 {
  width: 365px;
  height: 272px;
  background: url("../images/v6_497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 237px;
  overflow: hidden;
}
.v6_266 {
  width: 226px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_253 {
  width: 365px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 160px;
  opacity: 1;
  text-align: left;
}
.v6_273 {
  width: 325px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 233px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v6_499 {
  width: 501px;
  height: 272px;
  background: url("../images/v6_499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 97px;
  overflow: hidden;
}
.v6_268 {
  width: 278px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_255 {
  width: 101px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 160px;
  opacity: 1;
  text-align: left;
}
.v6_275 {
  width: 501px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 233px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v6_331 {
  width: 282px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 825px;
  left: 216px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 160px;
  opacity: 1;
  text-align: left;
}
.v6_518 {
  width: 100%;
  height: 1559px;
  background: url("../images/v6_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5644px;
  left: 126px;
  overflow: hidden;
}
.v6_490 {
  width: 989px;
  height: 309px;
  background: url("../images/v6_490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
  overflow: hidden;
}
.v6_252 {
  width: 989px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: relative;
  top: 0px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 84px;
  opacity: 1;
  text-align: left;
}
.v6_320 {
  width: 352px;
  height: 49px;
  background: url("../images/v6_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v6_322 {
  width: 306px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: right;
}
.v6_517 {
  width: 100%;
  height: 1130px;
  background: url("../images/v6_517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 0px;
  overflow: hidden;
}
.v6_493 {
  width: 340px;
  height: 550px;
  background: url("../images/v6_493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 580px;
  left: 389px;
  overflow: hidden;
}
.v6_329 {
  width: 340px;
  height: 550px;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_344 {
  width: 290px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 104px;
  left: 35px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v6_385 {
  width: 216px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 59px;
  left: 35px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_387 {
  width: 198px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 460px;
  left: 35px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_494 {
  width: 340px;
  height: 550px;
  background: url("../images/v6_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 580px;
  left: 18px;
  overflow: hidden;
}
.v6_330 {
  width: 340px;
  height: 550px;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_345 {
  width: 287px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 104px;
  left: 36px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v6_386 {
  width: 188px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 59px;
  left: 36px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_388 {
  width: 198px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 460px;
  left: 36px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_491 {
  width: 711px;
  height: 1130px;
  background: url("../images/v6_491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_324 {
  width: 711px;
  height: 100%;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_339 {
  width: 480px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 655px;
  left: 33px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v6_382 {
  width: 318px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 66px;
  left: 33px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_391 {
  width: 198px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 1040px;
  left: 33px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_389 {
  width: 312px;
  height: 312px;
  background: rgba(253,248,172,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 28px;
  border-radius: 50%;
}
.v6_392 {
  width: 466px;
  height: 466px;
  background: url("../images/v6_392.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 4px;
  overflow: hidden;
}
.v6_492 {
  width: 724px;
  height: 516px;
  background: url("../images/v6_492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 389px;
  overflow: hidden;
}
.v6_328 {
  width: 711px;
  height: 516px;
  background: rgba(19,19,19,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_343 {
  width: 403px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 143px;
  left: 35px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v6_383 {
  width: 370px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 66px;
  left: 35px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_384 {
  width: 198px;
  color: rgba(165,165,165,1);
  position: absolute;
  top: 423px;
  left: 35px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_390 {
  width: 248px;
  height: 248px;
  background: rgba(253,248,172,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 423px;
  border-radius: 50%;
}
.v6_393 {
  width: 331px;
  height: 331px;
  background: url("../images/v6_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 393px;
  overflow: hidden;
}
.v6_394 {
  width: 331px;
  height: 331px;
  background: url("../images/v6_394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 393px;
  overflow: hidden;
}
.v6_522 {
  width: 100%;
  height: 828px;
  background: url("../images/v6_522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4694px;
  left: 54px;
  overflow: hidden;
}
.v6_519 {
  width: 585px;
  height: 572px;
  background: url("../images/v6_519.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 404px;
  overflow: hidden;
}
.v6_257 {
  width: 281px;
  height: 86px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5099999904632568));
  padding: 30px 114px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 103px;
  overflow: hidden;
}
.v6_258 {
  width: 122px;
  color: rgba(6,7,10,1);
  position: absolute;
  top: 30px;
  left: 80px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_488 {
  width: 580px;
  height: 434px;
  background: url("../images/v6_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_251 {
  width: 537px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 90px;
  opacity: 1;
  text-align: right;
}
.v6_290 {
  width: 580px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 262px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: right;
}
.v6_489 {
  width: 133px;
  height: 26px;
  background: url("../images/v6_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 516px;
  left: 452px;
  overflow: hidden;
}
.v6_319 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_521 {
  width: 814px;
  height: 828px;
  background: url("../images/v6_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_244 {
  width: 814px;
  height: 814px;
  background: rgba(6,12,162,0.15000000596046448);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v6_357 {
  width: 119px;
  height: 105px;
  background: url("../images/v6_357.png");
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 229px;
  border: 2px solid rgba(255,255,255,1);
}
.v6_358 {
  width: 80px;
  height: 84px;
  background: url("../images/v6_358.png");
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 447px;
  border: 2px solid rgba(255,255,255,1);
}
.v6_359 {
  width: 57px;
  height: 47px;
  background: url("../images/v6_359.png");
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 228px;
  border: 2px solid rgba(255,255,255,1);
}
.v6_360 {
  width: 36px;
  height: 53px;
  background: url("../images/v6_360.png");
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 544px;
  border: 2px solid rgba(255,255,255,1);
}
.v6_525 {
  width: 100%;
  height: 2202px;
  background: url("../images/v6_525.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2293px;
  left: 268px;
  overflow: hidden;
}
.v6_259 {
  width: 281px;
  height: 86px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5099999904632568));
  padding: 30px 114px;
  margin: 39px;
  opacity: 1;
  position: absolute;
  top: 2116px;
  left: 0px;
  overflow: hidden;
}
.v6_260 {
  width: 121px;
  color: rgba(6,7,10,1);
  position: absolute;
  top: 30px;
  left: 48px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_524 {
  width: 840px;
  height: 840px;
  background: url("../images/v6_524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 126px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v6_483 {
  width: 739px;
  height: 466px;
  background: url("../images/v6_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 46px;
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 101px;
  overflow: hidden;
}
.v6_269 {
  width: 330px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 204px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v6_250 {
  width: 739px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 77px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 90px;
  opacity: 1;
  text-align: center;
}
.v6_289 {
  width: 707px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 337px;
  left: 16px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: center;
}
.v6_523 {
  width: 100%;
  height: 1174px;
  background: url("../images/v6_523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 840px;
  left: 0px;
  overflow: hidden;
}
.v6_484 {
  width: 442px;
  height: 514px;
  background: url("../images/v6_484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_370 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_371 {
  width: 139px;
  height: 139px;
  background: rgba(252,245,173,0.25);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 54px;
  border-radius: 50%;
}
.v6_372 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_366 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 258px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v6_362 {
  width: 442px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 339px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v6_485 {
  width: 483px;
  height: 479px;
  background: url("../images/v6_485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 206px;
  overflow: hidden;
}
.v6_373 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_374 {
  width: 139px;
  height: 139px;
  background: rgba(252,245,173,0.25);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 46px;
  border-radius: 50%;
}
.v6_375 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_368 {
  width: 429px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 258px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v6_364 {
  width: 483px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 339px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v6_487 {
  width: 424px;
  height: 502px;
  background: url("../images/v6_487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 206px;
  overflow: hidden;
}
.v6_376 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_377 {
  width: 139px;
  height: 139px;
  background: rgba(252,245,173,0.25);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 46px;
  border-radius: 50%;
}
.v6_378 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_369 {
  width: 253px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 252px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v6_365 {
  width: 424px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 327px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v6_486 {
  width: 456px;
  height: 537px;
  background: url("../images/v6_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 0px;
  overflow: hidden;
}
.v6_379 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_380 {
  width: 139px;
  height: 139px;
  background: rgba(252,245,173,0.25);
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 56px;
  border-radius: 50%;
}
.v6_381 {
  width: 242px;
  height: 242px;
  background: url("../images/v6_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_367 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 252px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v6_363 {
  width: 456px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 327px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v6_528 {
  width: 100%;
  height: 767px;
  background: url("../images/v6_528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1295px;
  left: 140px;
  overflow: hidden;
}
.v6_526 {
  width: 376px;
  height: 486px;
  background: url("../images/v6_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 393px;
  overflow: hidden;
}
.v6_480 {
  width: 292px;
  height: 178px;
  background: url("../images/v6_480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 84px;
  overflow: hidden;
}
.v6_309 {
  width: 292px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: relative;
  top: 0px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 117px;
  opacity: 1;
  text-align: left;
}
.v6_314 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 139px;
  left: 62px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v6_481 {
  width: 376px;
  height: 178px;
  background: url("../images/v6_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 0px;
  overflow: hidden;
}
.v6_310 {
  width: 376px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: relative;
  top: 0px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 117px;
  opacity: 1;
  text-align: left;
}
.v6_315 {
  width: 188px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 139px;
  left: 188px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: right;
}
.v6_527 {
  width: 100%;
  height: 767px;
  background: url("../images/v6_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v6_311 {
  width: 281px;
  height: 86px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5099999904632568));
  padding: 30px 114px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 337px;
  overflow: hidden;
}
.v6_312 {
  width: 53px;
  color: rgba(6,7,10,1);
  position: absolute;
  top: 30px;
  left: 114px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_479 {
  width: 754px;
  height: 622px;
  background: url("../images/v6_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 49px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 336px;
  overflow: hidden;
}
.v6_313 {
  width: 494px;
  color: rgba(255,255,255,0.6000000238418579);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_308 {
  width: 754px;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 80px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v6_316 {
  width: 732px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 450px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.v6_482 {
  width: 176px;
  height: 26px;
  background: url("../images/v6_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 686px;
  overflow: hidden;
}
.v6_318 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_529 {
  width: 100%;
  height: 808px;
  background: url("../images/v6_529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 231px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v6_478 {
  width: 100%;
  height: 566px;
  background: url("../images/v6_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 37px;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 80px;
  overflow: hidden;
}
.v6_264 {
  width: 304px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 389px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_246 {
  width: 100%;
  color: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.4399999976158142));
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: HelveticaNeue;
  font-weight: Heavy;
  font-size: 153px;
  opacity: 1;
  text-align: center;
}
.v6_272 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 467px;
  left: 39px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v6_475 {
  width: 203px;
  height: 34px;
  background: url("../images/v6_475.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 2px;
  overflow: hidden;
}
.v6_271 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v6_477 {
  width: 335px;
  height: 26px;
  background: url("../images/v6_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 705px;
  overflow: hidden;
}
.v6_256 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_263 {
  width: 47px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 133px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_270 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 262px;
  font-family: DM Sans;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
